* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #3D3E49;
}

.title {
    /* color: #FB7348; */
    color: crimson;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.input:focus-within {
    border: 3px solid #2D69E0;
}

.input {
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 3em;
    background-color: white;
}

.input i {
    font-size: 2.5em;
    color: #2D69E0;
    cursor: pointer;
}

.input input {
    width: calc(100% - 5em);
    border-style: none;
    outline: none;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding: 1em;
    margin: 2em 0.5em;
    background-color: #222229;
    border-radius: 1em;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box ul {
    list-style: none;
    padding: 0 0.5em;
}

.box ul li:first-child {
    font-size: 1.5em;
    color: white;
}

.box ul li i {
    font-size: 2em;
}

.delete i {
    font-size: 2.5em;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

.border-red {
    border-left: 5px solid crimson;
    border-radius: 2px;
}

.border-blue {
    border-left: 5px solid #2D69E0;
    border-radius: 2px;
}

.overline {
    text-decoration: line-through;
    color: black;
}
